*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #030617;
    min-height: 100vh;
    overflow: hidden;
}
h1{
    color: #fff;
    text-align: center;
    padding: 20px;

}
#field {
    height: 600px;
    border-bottom: 4px rgb(255, 255, 255) groove;
    position: relative;
    z-index: 1;
  }
  
  #ball {
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }
  .a{
    position: relative;
    text-align: center;
  }
  .b{
    height: 100px;
    width: 100px;
    padding:5px ;
    animation: rotate 2.5s linear infinite;
    z-index: 1;
    
  }
.star {
    position: absolute;
    top: -20px;
    color: #fff;
    animation: animate 5s linear forwards;

}
.star::before {
    content: '\f005';
    font-family: fontAwesome;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 50px #fff;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}